html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/*DELETE THESE LATER */

.col {
    outline: solid thin; //    padding: 1em 0;
}

//see   http://lesscss.org/features/#variables-feature
// COLORS
@light-gray: #F1F1F1;
@medium-gray: #708090;
@dark-gray: #464646;
@dark-gray2: #323232;
//@light-blue: #C3D8EA;
@light-blue: #CAE3F3;
@tere: #5AAADE;
@medium-blue: #3698D8;
@medium-blue2: #227DBA;
@dark-blue: #1E6FA4;
@dark-blue2: #1D5985;

@text-shadow: 1px 3px 6px rgba(0, 0, 0, .1);
@lighter-text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.06);

@font-title: 'Roboto Slab',
Rockwell,
'Lucida Bright',
'Century Gothic',
serif;
@font-body: Raleway,
'Segoe UI',
Futura,
Calibri,
serif;

//Generic selectors - need to import thnx to brakckets Beautify...
//@first: ~':first-of-type';
//@second: ~':nth-of-type(2)';
//@third: ~':nth-of-type(3)';
//@fourth: ~':nth-of-type(4)';
//@skills-section-row-first: ~'.section:first-of-type + .section-row';
//@skills-section-row-second: ~'.section:first-of-type + .section-row + div';
@import "selector-vars-thnx-brackets.less"; //Have to import because Brackets Beautify messes them up..
@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@transition-smooth: all .4s cubic-bezier(.47, 0, .745, .715);

.animated-border(@color: @medium-gray) {
    & {
        position: relative;
    }
    &:before,
    &:after {
        content: '';
        position: absolute;
        width: 25px;
        height: 25px;
        border: 2px solid @color;
        transition: @transition-smooth;
    }
    &:before {
        border-width: 2px 0 0 2px !important;
        top: -4px;
        left: -4px;
    }
    &:after {
        border-width: 0 0.2rem 0.2rem 0 !important;
        bottom: -4px;
        right: -4px;
    }
    &:hover:before,
    &:hover:after {
        width: 80%;
        height: 80%;
    }
}

.underline(@color: @dark-blue2) {
    position: relative;
    display: inline-block; //to base underline on visible part of the element
    &:after {
        content: "";
        position: absolute;
        height: 1px;
        width: 50%;
        bottom: 0;
        left: 50%;
        transform: translate(-50%); //        background: @color;
        background: linear-gradient( to right,
        transparent,
        @color 10%,
        @color 90%,
        transparent);
    }
}

.add-contents-after-elements (@list;
@i: length(@list)) when (@i > 0) {
    //use input i (list at L29) if it's over zero
    &:nth-of-type(@{i}):after {
        //nth-type from i
        content: extract(@list, @i); //content from @list
    }
    .add-contents-after-elements(@list;
    @i - 1); //one loop less
}


//========================= BIG UGLY CLASSES =========================
//REPLACE FONT ICONS WITH SVG!
.skills-dont-use-font-icons() {
    .skill-group {
        //        &:after {
        //            border: solid thin red;
        //        }
        &-box .skills .skill-row {
            span {
                margin: 0.1rem 1rem;
                i {
                    padding-right: 0.8rem;

                    &:before {
                        position: relative;
                    }
                    &[class*="ion-"]:before {
                        font-size: 2.6rem;
                    }
                    &[class*="fa-"]:before {
                        font-size: 2.1rem;
                    }
                    &.fa-less:before {
                        font-size: 3.4rem;
                        bottom: -0.3rem;
                    }
                    &.fa-npm:before {
                        font-size: 3.6rem;
                        bottom: -0.4rem;
                        left: 0.3rem;
                    }
                    &.fa-git:before {
                        font-size: 2.7rem;
                        bottom: -0.5rem;
                        left: 0.3rem;
                    }
                }
            }
        }
    }
    /* FIRST ROW */
    @{skills-section-row-first} .skill-group {
        .add-contents-after-elements("\f271", "\f13d";
        );
        /* Front-end' */
        &@{first} {
            .skill-row {
                position: relative; //top: -0.5rem;
                &@{second} {
                    margin-top: 0.2rem;
                    bottom: -0.1rem;
                }
            }
        }
        /* Back-end' background-icon */
        &@{second}:after {
            margin-bottom: -7.5rem;
        }
    }

    /* SECOND ROW */
    @{skills-section-row-second} .skill-group {
        .add-contents-after-elements("\f470", "\f13f";
        );
        /* Tools' background-icon */
        /* Various' background-icon */
        &@{first}:after,
        &@{second}:after {
            //            margin-right: -4rem;
            //            margin-bottom: -7.5rem;
        }
        /* Various' icon */
        &@{second} .skill-icon {
            padding-left: 3.5rem;
        }
    }

    /* ANIMATED SKILL ICONS          after skill-group-box */
    .skills-animate-icons() {
        .skill-group {
            z-index: 0;
            position: relative;

            &:after {
                font-family: "Ionicons";
                position: absolute;
                color: @light-gray;
                opacity: 0.2;
                right: 0;
                bottom: 0; //        top: 0;
                right: 0;
                height: 100%;
                line-height: 1;
                font-size: 18em; //        margin: 0;
                margin-bottom: -3.5rem;
                margin-right: -8.5rem;
                z-index: 1;
                transition: @transition-smooth;
            }
            &:hover:after {
                font-size: 11em;
                margin-bottom: -0.5rem;
                margin-right: 5rem;
            }
            &-box {
                > *,
                &:after {
                    z-index: 2;
                }
            }

        }

        /* Back-end */
        @{skills-section-row-first} .skill-group@{second} {
            &:hover:after {
                margin-bottom: -3rem;
                font-size: 8em;
            }
        }

        @{skills-section-row-second} .skill-group {
            /* Tools' */
            /* Various' */
            &@{first}:after,
            &@{second}:after {
                margin-right: -4rem;
                margin-bottom: -7.5rem;
            }
            /* Tools' */
            &@{first}:hover:after {
                margin-bottom: -3.2rem;
                margin-right: 4rem;
                font-size: 9.5em;
            }
            /* Various' */
            &@{second}:hover:after {
                margin-right: 5rem;
                margin-bottom: -3rem;
                font-size: 10em;
            }
        }
    }
    /* END  ANIMATED SKILL ICONS          after skill-group-box */
    //
}

/* END   REPLACE FONT ICONS WITH SVG! */

//========================= END: BIG UGLY CLASSES =========================
html {
    font-size: 62.5%; //    -webkit-overflow: scroll;
}

//::-webkit-scrollbar {
//    width: 0 !important;
//    background: transparent !important;
//}
html,
body {
    width: 100%;
}

body {
    font-size: 1.95rem;
    font-family: @font-body;
    line-height: 1.75;
    font-weight: 300;
    text-align: center;
    animation: fadein .5s;
    letter-spacing: 0.1rem;
    color: #464646; //  #0f2b40 - sinakam
}

a {
    font-family: @font-title;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: @font-title;
    font-weight: 300;
    line-height: 1.4;
}

h1 {
    text-shadow: @text-shadow;
}

h2 {
    font-size: 4.5rem;
    text-shadow: @lighter-text-shadow;
    color: @dark-blue;
    margin-bottom: 5.5rem;
    padding-bottom: 3.5rem;
    .underline();
}

h3 {
    color: @dark-blue;
    margin: 3rem;
    font-size: 2rem; //    text-shadow: 0 0 @dark-blue;
}

p {
    text-shadow: 0.02rem 0 0 @light-blue;
}

.social-btn {
    color: #fff;
    font-size: 2.6rem;
    padding: 0 1rem;
}

#particles-js canvas {
    position: absolute;
    background-image: linear-gradient(@dark-blue, @medium-blue);
    min-height: 100.1vh;
    min-height: 104vh;
    left: 0;
    margin: 0;
    padding: 0;
    z-index: -1;
}

#main-header {
    width: 100vw;
    position: fixed;
    height: 8rem; //    padding: 0 1.5rem;
    z-index: 1; //        top: -0.8rem;
    left: 0;
    background-color: transparent !important;
    padding: 0 1.5rem;
    & > div {
        margin: 0;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }
    div:first-of-type {
        text-align: left;
        h1 {
            margin-top: -0.7rem; //so it doesn't seem so in-the-face (not pa)
            font-size: 3.3rem;
            color: #fff;
            white-space: nowrap;
            letter-spacing: 0.08rem;
        }
    }
    div:last-of-type {
        text-align: right;
        float: right;
    }
    .social-btn,
    &.header-white .social-btn {
        &:hover {
            color: @light-blue;
        }
        &:focus {
            color: @dark-blue2;
        }
    }
    &.header-white {
        background-color: #fff !important;
        box-shadow: 0 0.5rem 2rem 0.5rem rgba(127, 150, 164, 0.06);
        h1 {
            color: @medium-blue !important;
            text-shadow: @lighter-text-shadow;
        }
        .social-btn {
            color: @medium-blue;
        }
    }
    &.header-blue {
        background-color: @medium-blue !important;
        box-shadow: 0 5px 20px 5px rgba(0, 0, 0, .03);
    }
}

//#main-header {        //thinner header    doesn't work that well with white header 
//    height: 7.5rem;
//    & > div {
//        margin: 0;
//        margin-top: auto; //delete
//    }
//}
#page-navigation {
    position: fixed;
    right: 0;
    margin-right: 2.3rem;
    top: 50%;
    transform: translateY(-50%);
    li {
        line-height: 1.4;
        a {
            width: 1rem;
            height: 1rem;
            background: @dark-blue2;
            display: inline-block;
            border-radius: 50%;
            cursor: pointer;
            &:hover:before {
                content: attr(data-title);
                position: absolute;
                right: 2.1rem;
                font-size: 1.45rem;
                line-height: 1;
                color: @dark-blue2; //                margin-top: -0.22rem;     // doesnt seem to affect anything anymore...
            }
            &.active {
                width: 1.7rem;
                height: 1.7rem;
                margin-top: 1rem;
                &:hover:before {
                    margin-top: 0.1rem;
                    margin-right: 0.4rem;
                }
            }
        }
    }
}

#wrapper {
    //    width: 80%;
    //    height: 100%;
}

.page {
    min-height: 100vh; //    width: 100%;
    &:not(#home) {
        padding: 15vh 0; //20vh is what #home has
        /*odd-numbered pages*/
        &:nth-of-type(odd) {
            /* &:not(:first-of-type):nth-of-type(odd) */
            background: #fff;
        }
        /*even-numbered pages*/
        &:nth-of-type(even) {
            /* &:not(:first-of-type):nth-of-type(even) */
            background: @light-gray;
        }
        .section-wrapper {
            margin: auto;
            width: 60%; //    display: flex;
            //    align-items: center;
            //        margin: 0;
            //        height: 100%;
            //            top: 0;
            //        transform: translateY(-50%);
            //            position: relative;
            .section:first-of-type {
                width: 70%;
                margin: auto;

            }
        }
    }

}

#home {
    min-height: 100vh;
    width: 70%;
    margin: auto;
    margin-top: 0.5rem;
    display: flex;
    align-items: center;
    font-family: @font-title;
    font-weight: 300;
    line-height: 1.4;
    text-shadow: @text-shadow;
    .intro {
        > span {
            //            letter-spacing: 0.1rem;   doesn't seem to do anything anymore
            font-size: 3.5rem;
            font-weight: 400;
            color: #ffffffbf;
            margin-bottom: 1rem;
        }
        div {
            letter-spacing: 0.15rem;
            color: #fff;
            font-size: 8.4rem;
            display: block;
            margin-top: 8rem;
        }
    }
}


#skills {
    .section-row {
        display: flex; //        height: 100%;
        //        align-items: stretch;
        //         min-height: 100%;
        //        flex: 1;
        //        flex-direction: row;
        .skill-group {
            //            display: flex;
            //            flex:1 ;
            //            align-self: stretch;
        }
    }
    .skills-dont-use-font-icons(); //Animated icons for the first row 
    .skills-dont-use-font-icons .skills-animate-icons();

    .skill-group {
        //Overall rules for animated icons
        h4 {
            text-align: left;
            width: 100%;
            padding: 0.7rem 0;
        }


        &-box {
            .animated-border(); //            width: 100%;
            //            display: inline-block;
            //            flex-wrap: wrap;
            display: flex;
            align-items: center;
            padding: 3rem 0;
            color: #fff;
            background: lighten(@medium-blue, 0.5%); //@medium-blue
            .skill-icon {
                font-size: 9.5rem;
                line-height: 0;
                padding-left: 3rem;
                width: 20%;
                height: 0;
                display: flex;
                align-items: center;
            }
            .skills {
                font-size: 1.75rem; //enne 1.8
                width: 80%;
                font-family: @font-body;
                margin-top: 0.3rem;

                .skill-row {
                    //                    display: block;
                    height: 3.5rem;
                    display: flex; //just to 
                    align-items: center; //center text
                    justify-content: center; //..sigh..
                }
            }

        }
    }
}





//TEMPORARY
#main-header .col,
#skills .col {
    outline: none;
}
